body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #2b5876, #4e4376);
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.back-btn {
  background-color: #ff7043;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.summary {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px auto;
  flex-wrap: wrap;
  max-width: 900px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px 40px;
  text-align: center;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.2);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 1.5em;
  font-weight: bold;
}

.transactions {
  max-width: 900px;
  margin: 0 auto 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.transactions h2 {
  text-align: center;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

thead {
  background: rgba(0, 0, 0, 0.3);
}

th, td {
  padding: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.status-completed {
  color: #00ff99;
}

.status-pending {
  color: #ffcc00;
}

.status-failed {
  color: #ff6666;
}
